@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,300&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  background: linear-gradient(281deg, rgba(34,193,195,1) 0%, rgb(4, 121, 86) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  margin: 2em;
}

header h1 {
  font-size: 3em;
  margin-bottom: 1em;
}

header p {
  font-size: 1.4em;
  color: #DEDEDEDE;
}

main {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 1em;
  text-align: center;
  width: 80%;
}

.content-dates {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.content-dates label {
  margin: .5em;
  font-size: 1.8em;
}

.content-dates input {
  width: 8.6em;
  height: 2.3em;
  border-radius: 5px;
  text-align: center;
}


#calc-end-date {
  background-color: #ffffff;
  border: 2px solid green;
  color: green;
  padding: 0.5rem 4rem;
  font-size: 1em;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 1em;
}

#calc-end-date:hover {
  background-color: green;
  color:aliceblue;
}

.content-result {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#result {
  font-size: 1.5em;
  margin-top: 20px;
}

@media only screen and (max-width: 600px) {
  header h1 {
    font-size: 1.4em;
  }

  header p {
    font-size: 1em;
  }

  .content-dates {
    flex-direction: column;
  }

  .content-dates label {
    margin-bottom: 10px;
  }

  #calc-end-date {
    margin-top: .8em;
  }
}