main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 40px;
  }

  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .content-dates {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .content-dates label {
    margin-right: 10px;
  }
  
  .content-result {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  #result {
    text-align: center;
  }