main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 40px;
  }

  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .conteudo-datas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .conteudo-datas label {
    margin-right: 10px;
  }
  
  .conteudo-resultado {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  #resultado {
    text-align: center;
  }